contents/__GK/latex/main.synctex.gz
contents/__GK/latex/main.pdf

__pycache__

contents/temp


contents/__GK/turing-machine-viz
contents\__GK\latex\main.pdf
contents/__GK/Udemy
contents/__GK/DeThi




contents/__CK/NhomLan1/latexMM/main.synctex.gz
# contents/__CK/NhomLan1/latexMM/main.pdf