__pycache__

contents/temp

contents/__GK/latex/main.synctex.gz
contents/__GK/latex/main.pdf

contents/__GK/turing-machine-viz
contents/__GK/Udemy

contents/__CK/NhomLan1/latexMM/main.synctex.gz
contents/__CK/NhomLan1/latexMM/main.pdf
*.mp4
contents/__GK/BuiKhuongDuy
